<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703035168270-n79de2lbimrq3titm524cug7d8eedpef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703035168270-n79de2lbimrq3titm524cug7d8eedpef</string>
	<key>API_KEY</key>
	<string>AIzaSyBPaqtuIcelLhikxCij87aPatWyN9fVZeg</string>
	<key>GCM_SENDER_ID</key>
	<string>703035168270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ExtremeRock.GetARock</string>
	<key>PROJECT_ID</key>
	<string>get-a-rock</string>
	<key>STORAGE_BUCKET</key>
	<string>get-a-rock.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703035168270:ios:8788f93eab639de22a8e5f</string>
</dict>
</plist>